<div class="container">
	<div class="row">
		<h1>Welcome to ChattyApp</h1>
		<p>Enter your username to start chatting:</p>

		<%= form_for @user do |f| %>
		  <div class="form-group">
		    <%= f.label :name %>
		    <%= f.text_field :name, autofocus: true, class: 'form-control' %>
		  </div>

		  <%= f.submit "Enter", class: 'btn btn-primary' %>
		<% end %>
	</div>
</div>

