<h1><%= @room.name %></h1>

<div id="messages" data-room-id="<%= @room.id %>" >
  <%= render @room.messages %>
</div>

<form>
	<label>Chat:</label>
	<input type='text' data-behaviour='room_speaker'>
</form>